# =====================================
# DJANGO / PYTHON BASICS
# =====================================
__pycache__/
*.py[cod]
*.sqlite3
*.log

# =====================================
# ENVIRONMENTS
# =====================================
env/
venv/
.env

# =====================================
# STATIC & MEDIA (Railway / AWS)
# =====================================
staticfiles/
media/

# =====================================
# IDEs / SYSTEM FILES
# =====================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =====================================
# Migrations cache (opcional)
# =====================================
*/migrations/__pycache__/
